<!-- Action button starts here -->
<div class="mt-5 mb-5">
    <div class="categories-margin">
        <div class="row">
            <div class="contact-me-area">
                <div class="container">
                    <div class="row call-info">                         
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                            <a class="action-buttons" href="/categories">
                                <div class="contact-box">
                                    <img class="filter-white" src="images/categories.svg" width="40" alt="Disruptive Technologies">
                                    <p class="h2 pt-3">TEHAMA AWARDS CATEGORIES</p>
                                    <p class="text-center pt-3">Each focusing on a key area in the ICT sector</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                            <a class="action-buttons" href="/sponsorship">
                                <div class="contact-box">
                                    <img class="filter-white" src="images/sponsorship.svg" width="40" alt="Disruptive Technologies">
                                    <p class="h2 pt-3">SPONSORSHIP AND PARTICIPATION</p>
                                    <p class="text-center pt-3">Be part of the Awards</p>
                                </div>
                            </a>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Action button ends here -->