<!-- Footer Area Section Start Here -->
<footer>
    <div class="footer-top-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="single-footer footer-one">
                        <h3>
                            <div class="logo-area">
                                <a href="/"><img src="images/logo.png" alt="logo"></a>
                            </div>
                        </h3>
                        <p class="h5">"TEHAMA," an acronym for "Teknolojia ya Habari na Mawasiliano" (Information and Communication Technology) in Swahili.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="single-footer footer-two">
                        <h3>Usefull Links</h3>
                        <nav>
                            <ul>
                                <li><a href="/"><i class="mb-3 fa fa-home"></i> Home </a>
                                </li>
                                <li><a href="/categories"><i class="mt-3 mb-3 fa fa-th-list"></i> Categories </a>
                                </li>
                                <li><a href="/nomination"><i class="mt-3 mb-3 fa fa-pencil-square"></i> Nomination </a>
                                </li>
                                <li><a href="/selection"><i class="mt-3 mb-3 fa fa-check"></i> Selection </a>
                                </li>
                                <li><a href="/sponsorship"><i class="mt-3 mb-3 fa fa-money"></i> Sponsorship </a>
                                </li>
                                <li><a href="/gallery"><i class="mt-3 fa fa-camera"></i> Gallery </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="single-footer footer-four margin-0">
                        <h3>Follow Us on our social pages:</h3>
                        <div class="footer-social-media-area">
                            <nav>
                                <ul>
                                    <li><a href="https://www.instagram.com/tehamaawards" target="_blank"><i style="color: white;" class="fa fa-instagram"></i></a></li>
                                    <li><a href="https://www.facebook.com/people/TehamaAwards/61563554183681/?mibextid=qi2Omg&rdid=srO49I4nsE7JC0zW&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FBE53NaMU6MbHDoFv%2F%3Fmibextid%3Dqi2Omg" target="_blank"><i style="color: white;" class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://x.com/TehamaAwards?s=09" target="_blank"><i style="color: white;" class="fa fa-twitter"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                        <br>
                        <h3>Contact:</h3>
                        <nav>
                            <ul>
                                <li>
                                    <i style="color: white;" class="fa fa-envelope-o"></i> 
                                    <a href="mailto:info@tehamaawards.co.tz">info@tehamaawards.co.tz</a>
                                </li>
                                <br>
                                <li>
                                    <i style="color: white;" class="fa fa-phone"></i> 
                                    <a href="tel:+255 759 993 969">+255 759 993 969</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-bottom">
                        <p> &copy; 2025. Tehama Awards All Rights Reserved.</p>
                        <br>
                        <p><a style="color: white;" href="https://optimogroup.co/" target="_blank">Powered by Optimo Group Limited</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script src="/js/vendor/jquery-1.12.0.min.js"></script>
<!-- jquery validaate -->
<script src="/js/vendor/jquery.validate.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- owl.carousel js -->
<script src="/js/owl.carousel.min.js"></script>
<!-- owl.carousel js -->
<script src="/js/owl.carousel.min.js"></script>
<!-- meanmenu js -->
<script src="/js/jquery.meanmenu.js"></script>
<!-- jquery-ui js -->
<script src="/js/jquery-ui.min.js"></script>
<!-- wow js -->
<script src="/js/wow.min.js"></script>
<!-- jquery.counterup js -->
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<!-- jquery light box -->
<script src="/js/lightbox.min.js"></script>
<!-- isotope.pkgd.min js -->
<script src="/js/isotope.pkgd.min.js"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<!-- magnific popup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- jQuery MixedIT Up -->
<script src="/js/jquery.mixitup.min.js"></script>
<!-- Counter Down js -->
<script src="/js/simplyCountdown.min.js"></script>
<!-- Nivo slider js -->
<script src="/inc/custom-slider//js/jquery.nivo.slider.js"></script>
<script src="/inc/custom-slider/home.js"></script>
<!-- jQuery Multistep form -->
<script src="/js/multi_step_form.js"></script>
<!-- jquery.fancybox.pack js -->
<script src="/inc/fancybox/jquery.fancybox.pack.js"></script>
<!-- plugins js -->
<script src="/js/plugins.js"></script>
<!-- jquery weave effects -->
<script src="/js/waves.js"></script>
<!-- TimeCircles js -->
<script src="/js/TimeCircles.js"></script>
<!-- main js -->
<script src="/js/main.js"></script>