<form class="regform" id="nomination_form"  action="/nomination" method="POST" enctype="multipart/form-data">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active li-active">Nomination Info</li>
        <li>Nomination Details</li>
        <li>Additional Info</li>
        <li>Submit</li>
    </ul>
    <!-- fieldsets -->
    <fieldset id="first">
        <h2 class="title">Nomination Info</h2>
        <select name="nomination_type" id="nomination" class="options" required autocomplete="off">
            <option value="" disabled selected hidden>Select Nomination type*</option>
            <option>I am nominating myself</option>
            <option>I am nominating someone else</option>
            <option>I am nominating an organisation</option>
        </select>
        <br/>
        <select name="nomination_category" id="categories" class="options" required>
            <option value="" disabled selected hidden>Select Nomination Category*</option>
            <option value="category1">Innovation In ICT Products or Services</option>
            <option value="category2">Best use of ICT</option>
            <option value="category3">ICT for Social Impact</option>
            <option value="category4">Young ICT Achiever</option>
            <option value="category5">Women in ICT</option>
            <option value="category6">ICT Security</option>
            <option value="category7">Public Sector ICT Project</option>
            <option value="category8">Sustainable ICT</option>
            <option value="category9">The TISPA Awards for Best Internet Connectivity Provider</option>
            <option value="category10">The MCIT Lifetime Achievement In ICT</option>
        </select>

        <select name="nomination_subcategory" class="subcatagories" required>
            <option value="" disabled selected hidden>Select Nomination Subcategory*</option>
            <!-- Innovation In ICT Products or Services -->
            <optgroup data-rel="category1">
                <option value="Disruptive Technologies">Disruptive Technologies</option>
                <option value="Emerging Technologies">Emerging Technologies</option>
            </optgroup>
            <!-- Best use of ICT -->
            <optgroup data-rel="category2">
                <option value="Best Use of ICT in Healthcare">Best Use of ICT in Healthcare</option>
                <option value="Best Use of ICT in Education">Best Use of ICT in Education</option>
                <option value="Best Use of ICT in Finance">Best Use of ICT in Finance</option>
            </optgroup>
            <!-- ICT for Social Impact -->
            <optgroup data-rel="category3">
                <option value="Bridging the Digital Divide">Bridging the Digital Divide</option>
                <option value="Addressing Social Issue">Addressing Social Issue</option>
            </optgroup>
            <!-- Young ICT Achiever -->
            <optgroup data-rel="category4">
                <option value="Young Programmer/Programmer">Young Programmer/Programmer</option>
                <option value="Student Entrepreneur">Student Entrepreneur</option>
            </optgroup>
            <!-- Women in ICT -->
            <optgroup data-rel="category5">
                <option value="Female Innovator">Female Innovator</option>
                <option value="Female Tech Leader">Female Tech Leader</option>
            </optgroup>
            <!-- ICT Security -->
            <optgroup data-rel="category6">
                <option value="Cybersecurity Innovation">Cybersecurity Innovation</option>
                <option value="Best Practices in Data Protection">Best Practices in Data Protection</option>
            </optgroup>
            <!-- Public Sector ICT Project -->
            <optgroup data-rel="category7">
                <option value="Enhanced Citizen Engagement">Enhanced Citizen Engagement</option>
                <option value="Streamlined Bureaucracy">Streamlined Bureaucracy</option>
            </optgroup>
            <!-- Sustainable ICT -->
            <optgroup data-rel="category8">
                <option value="Energy-Efficient Technologies">Energy-Efficient Technologies</option>
                <option value="Green DataCenters">Green DataCenters</option>
            </optgroup>
            <!-- The TISPA Awards for Best Internet Connectivity Provider -->
            <optgroup data-rel="category9">
                <option value="Best ISP (Internet Service Provider)">Best ISP (Internet Service Provider)</option>
                <option value="Best MNO (Mobile Network Operator)">Best MNO (Mobile Network Operator)</option>
                <option value="Best Carrier Provider">Best Carrier Provider</option>
            </optgroup>
            <!-- The MCIT Lifetime Achievement In ICT -->
            <optgroup data-rel="category10">
                <option value="Public Sector">Public Sector</option>
                <option value="Private Sector">Private Sector</option>
            </optgroup>
        </select>
        <br/>
        <h2 class="title">Nominator Info</h2>
        <input type="text" placeholder="Nominator Name*" class="text_field" name="nominator_name"/>
        <br/>
        <input type="email" placeholder="Nominator Email*" class="text_field" name="nominator_email"/>
        <br/>
        <input type="text" placeholder="Nominator Phone Number*" class="text_field" name="nominator_phone"/>
        <br/>
        <h2 class="title">Nominee Info</h2>
        <input type="text" placeholder="Nominee Name*" class="text_field" name="nominee_name"/>
        <br/>
        <input type="email" placeholder="Nominee Email*" class="text_field" name="nominee_email"/>
        <br/>
        <input type="text" placeholder="Nominee Phone Number*" class="text_field" name="nominee_phone"/>
        <br/>
        <input type="url" placeholder="Website (if applicable)" class="text_field" name="website"/>
        <br/>
        <input type="button" class="next_btn margin-0" value="Next >"/>
    </fieldset>
    <fieldset>
        <h2 class="title">Nomination Details</h2>
        <textarea name="nomination_reason" cols="40" rows="10" class="text_field" placeholder="Reason for Nomination (Explain why the nominee deserves this award. Include details about their contributions, achievements, and impact. Maximum 300 words)*"></textarea>
        <br/>
        <textarea name="supporting_evidence" cols="40" rows="10" class="text_field" placeholder="Supporting Evidence: (Provide specific examples, data, or case studies that support the nomination. Maximum 300 words)*"></textarea>
        <br/>
        <textarea name="impact" cols="40" rows="10" class="text_field" placeholder="Impact: (Describe the tangible positive effects of the nominee's contributions on their intended audience or sector. Maximum 300 words)*"></textarea>
        <br/>
        <textarea name="innovation" cols="40" rows="10" class="text_field" placeholder="Innovation: (Explain the novelty and creativity of the nominee's solutions, demonstrating a departure from traditional methods. Maximum 300 words)*"></textarea>
        <br/>
        <textarea name="sustainability" cols="40" rows="10" class="text_field" placeholder="Sustainability: (Detail the long-term viability and scalability of the nominee's project or initiative. Maximum 300 words)*"></textarea>
        <br/>
        <textarea name="inclusivity" cols="40" rows="10" class="text_field" placeholder="Inclusivity: (Discuss how the nominee's work promotes digital inclusion and ensures access to ICT tools and resources for diverse populations. Maximum 300 words)*"></textarea>
        <br/>
        <input type="button" class="pre_btn" value="< Back" />
        <input type="button" class="next_btn margin-0" value="Next >"/>
    </fieldset>
    <fieldset>
        <input type="text" class="text_field" name="reference_one_name" placeholder="Reference 1 Name" />
        <br/>
        <input type="text" class="text_field" name="reference_one_phone" placeholder="Reference 1 Phone Number" />
        <br/>
        <input type="text" class="text_field" name="reference_one_email" placeholder="Reference 1 Email" />
        <br/>
        <input type="text" class="text_field" name="reference_two_name" placeholder="Reference 2 Name" />
        <br/>
        <input type="text" class="text_field" name="reference_two_phone" placeholder="Reference 2 Phone Number" />
        <br/>
        <input type="text" class="text_field" name="reference_two_email" placeholder="Reference 2 Email" />
        <br/>
        <div class="container" style="width: 53%;">
            Attachments: (Upload any additional documents, reports, or media that support this nomination. Maximum 5 files)
            <span style="color: red; font-weight: bolder;">*Only images and PDFs are allowed.</span>
            <input type="file" 
                class="filepond"
                name="nomination_files" 
                multiple 
                data-max-file-size="5MB"
                data-max-files="5" required>
        </div>
        <br/>
        <input style="margin-top:50px;" type="button" class="pre_btn" value="< Back" />
        <input type="button" class="next_btn" value="Next >" />
    </fieldset>
    <fieldset>
        <h2 class="title">Declaration*</h2>
        <div class="term-and-conditions">
            <p>I confirm that the information provided in this nomination form is accurate and true to the best of my knowledge.
            I agree to be contacted for further information if required.
            For Nominator (i declare that there is no conflict of interest to the nominee i have chosen)</p>
            <input type="checkbox" name="declaration">  I authorize the TEHAMA Awards committee to use the information provided in this nomination for award purposes.
        </div>
        <input type="button" class="pre_btn" value="< Back" />
        <input style="background: #1375bc; color: white;" type="submit" class="next_btn" value="SUBMIT >" />
    </fieldset>
</form>

<script>
    
    FilePond.registerPlugin(
		FilePondPluginFileValidateSize,
		FilePondPluginFileValidateType
	);
    // Get a reference to the file input element
    const inputElement = document.querySelector(".filepond");

    // Create the FilePond instance
    const pond = FilePond.create(inputElement, {
        allowMultiple: true,
        allowDrop: true,
        allowBrowse: true,
        maxFiles: 5,
        storeAsFile: true,
        maxFileSize: "5MB",
        maxParallelUploads: 5,
        allowFileTypeValidation: true,
        acceptedFileTypes: ["image/*", "application/pdf"]

    });

</script>
