<!-- Slider Area Start Here-->
<div class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            <img src="/images/slider/IMG_6686-DVj9u3r4.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6687-Wg-gadHf.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6691-Mx2UYo7J.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6693-Q0Q-hjJ8.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6694-Bl1963Di.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6695-DRjvaqW6.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6696-BFZxh8Pq.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6699-BGzkLXRs.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6700-CG6w6Nhf.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6701-CZGbyMFK.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6703-DPHBSvNT.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6706-C2lz-cfb.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6709-D39W57sb.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6711-CYWBPcpv.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6712-BcYqKWZT.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_6714-QFEZ8C2R.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_9969-O3Ktd4MH.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_9982-C3Xc4-Dl.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_9989-DQn0lELt.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_9994-Chc0qVhJ.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_9996-CFlujqQo.jpg" alt="Tehama Awards"/>
            <img src="/images/slider/IMG_9999-BJ1TtB_L.jpg" alt="Tehama Awards"/>
        </div>
    </div>
</div>
<!-- Slider Area End Here-->