<!DOCTYPE html>
<html lang = "en">

    <!--Head area start here-->
    <%- include("./partials/head") %>
    <!--Head area start here-->

    <body class="home">

        <!--Header area start here-->
        <%- include("./partials/header") %>
        <!--Header area end here-->

        <%- body %>

        <!-- Footer Area Section Start Here -->
         <%- include("./partials/footer") %>
        <!-- Footer Area Section End Here -->

        <a href="https://wa.me/255759993969" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>
    </body>
</html>