<title>Tehama Awards | <%= title %> </title>
<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header-page-title text-center">
                    <h2>Categories</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header section end here -->

<!-- Category 1 starts here -->
<div class="mt-1">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/1.png" alt="Innovation In ICT Products or Services">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">01. Innovation In ICT Products or Services</h1>
                    <p>This category celebrates groundbreaking ICT solutions with the potential to revolutionize Tanzanian industries.</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/DisruptiveTechnologies.svg" width="40" alt="Disruptive Technologies">
                                            <p class="h3 pt-2">Disruptive Technologies</p>
                                            <p class="text-left">Showcasing the use of Disruptive Technologies (Web-based TV, AR/VR, AI) in changing the way organisations and industries function in Tanzania The use of those technologies that have caused innovation in terms of service delivery, technology, products etc. This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/EmergingTechnologies.svg" width="40" alt="Emerging Technologies">
                                            <p class="h3 pt-2">Emerging Technologies</p>
                                            <p class="text-left">Showcasing the development and use of Emerging Technologies (Robotics, 4D printing, Edge Computing, Nano technology) in Tanzania Practical development and use of the technologies that have caused innovation in terms of service delivery, technology, products etc. This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 1 ends here -->

<!-- Category 2 starts here -->
<div class="gray-category-area mt-1 ps-5">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">02. Best use of ICT</h1>
                    <p>Awards for leveraging ICT to improve outcomes in key industries.</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/BestUseofICTinHealthcare.svg" width="40" alt="Best Use of ICT in Healthcare">
                                            <p class="h3 pt-2">Best Use of ICT in Healthcare</p>
                                            <p class="text-left">Showcasing the use of ICT that has brought impact in the Health sector Showcasing the outcome and specific impact brought using the ICT in Health sector What transformation/change/innovation that has been brought in the health sector using the ICT This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/BestUseofICTinEducation.svg" width="40" alt="Best Use of ICT in Education">
                                            <p class="h3 pt-2">Best Use of ICT in Education</p>
                                            <p class="text-left">Showcasing the use of ICT that has brought impact in the Education sector Showcasing the outcome and specific impact brought using ICT in Education What transformation/change/Innovation that has been brought in the education sector using the ICT This nomination is for individuals or organisations</p>
                                        </div>
                                    </div> 
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/BestUseofICTinFinance.svg" width="40" alt="Disruptive Technologies">
                                            <p class="h3 pt-2">Best Use of ICT in Finance</p>
                                            <p class="text-left">Showcasing the use of ICT that has brought impact in the Financial sector Showcasing the outcome and specific impact brought using ICT in Financial sector What transformation/change/innovation that has been brought in the financial sector using the ICT This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me  End Here -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 2 ends here -->

<!-- Category 3 starts here -->
<div class="mt-1">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/3.png" alt="ICT for Social Impact">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">03. ICT for Social Impact</h1>
                    <p>The TEHAMA Awards celebrate ICT-driven initiatives addressing social challenges:.</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/BridgingtheDigitalDivide.svg" width="40" alt="Bridging the Digital Divide">
                                            <p class="h3 pt-2">Bridging the Digital Divide</p>
                                            <p class="text-left">Programs providing accesible and affordable internet or digital skills training to remote areas. Showcasing the use of ICT that has brought transformation and impact on the social life of normal Tanzanian. •⁠ Impact/outcome and change expected through addressing a social Issue(s) This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/Addressingasocialissue.svg" width="40" alt="Addressing a social issue">
                                            <p class="h3 pt-2">Addressing a social issue</p>
                                            <p class="text-left">Showcasing the use of ICT that has addressed the digital divide.Impact/outcome and change expected through Bridging the Digital Divide.This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 3 ends here -->

<!-- Category 4 starts here -->
<div class="gray-category-area mt-1 ps-5">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">04. Young ICT Achiever</h1>
                    <p>Celebrating the next generation of Tanzanian ICT innovators:</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/StudentEntrepreneur.svg" width="40" alt="Student Entrepreneur">
                                            <p class="h3 pt-2">Student Entrepreneur</p>
                                            <p class="text-left">Showcasing the achievement through ICT by a young student in Tanzania. A young Tanzanian student with age below 18 years. Showcasing the Impact/outcome/Contribution and change brought by the Student Entrepreneur in the ICT sector through software development/programming.Details of ICT achievements done by the Student Entrepreneur. This is nomination for individuals only</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/YoungProgramer.svg" width="40" alt="Young Programer">
                                            <p class="h3 pt-2">Young Programer</p>
                                            <p class="text-left">Recognizing talented developers creating software solutions. Showcasing the achievement through ICT by a young Tanzanian. Showcasing the Impact/outcome/Contribution and change brought by the youth in the ICT sector through software development/programming. This is nomination for individuals only</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me  End Here -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 4 ends here -->

<!-- Category 5 starts here -->
<div class="mt-1">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/5.png" alt="Women in ICT">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">05. Women in ICT</h1>
                    <p>Highlighting the contributions of women in the ICT sector:</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/Femaletechleader.svg" width="40" alt="Female tech leader">
                                            <p class="h3 pt-2">Female tech leader</p>
                                            <p class="text-left">Showcasing the achievement through ICT by a Tanzanian woman. Showcasing the Impact/outcome/Contribution and change brought by the woman in the ICT sector This can be a female tech leader in an organization/female-led startup that has brought significant change/impact/innovation in the Tanzanian market The achievement can be ICT invention that has transformed the market This is nomination for individuals only</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/FemaleInnovator.svg" width="40" alt="Female Innovator">
                                            <p class="h3 pt-2">Female Innovator</p>
                                            <p class="text-left">Showcasing the achievement through ICT by a Tanzanian woman. Showcasing the Impact/outcome/Contribution and change brought by the woman in the ICT sector This can be a female tech leader in an organization/female-led startup that has brought significant change/impact/innovation in the Tanzanian market The achievement can be ICT invention that has transformed the market This is nomination for individuals only</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 5 ends here -->

<!-- Category 6 starts here -->
<div class="gray-category-area mt-1 ps-5">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">06. ICT Security</h1>
                    <p>Acknowledging excellence in protecting Tanzania's digital infrastructure:</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/CybersecurityInnovation.svg" width="40" alt="Cybersecurity Innovation">
                                            <p class="h3 pt-2">Cybersecurity Innovation</p>
                                            <p class="text-left">Organizations demonstrating exemplary data security measures. Showcasing the achievement through cybersecurity innovation in Tanzania. Achievements in best practices in data protection. This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/BestPracticesinDataProtection.svg" width="40" alt="Best Practices in Data Protection">
                                            <p class="h3 pt-2">Best Practices in Data Protection</p>
                                            <p class="text-left">Organizations demonstrating exemplary data security measures. Showcasing the achievement through cybersecurity innovation in Tanzania. Achievements in best practices in data protection. This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me  End Here -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 6 ends here -->

<!-- Category 7 starts here -->
<div class="mt-1">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/7.png" alt="Public Sector ICT Project">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">07. Public Sector ICT Project</h1>
                    <p>Celebrating ICT's role in improving governmentefficiency and service delivery:</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/EnhancedCitizenEngagement.svg" width="40" alt="Enhanced Citizen Engagement">
                                            <p class="h3 pt-2">Enhanced Citizen Engagement</p>
                                            <p class="text-left">Projects that promote citizen-government interaction through ICT. This is nomination for individuals or organisations</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/StreamlinedBureaucracy.svg" width="40" alt="Streamlined Bureaucracy">
                                            <p class="h3 pt-2">Streamlined Bureaucracy</p>
                                            <p class="text-left">Projects that simplify government processes through digital tools. This is nomination for individuals or organisations</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 7 ends here -->

<!-- Category 8 starts here -->
<div class="gray-category-area mt-1 ps-5">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">08. Sustainable ICT</h1>
                    <p>Recognizing environmentally consciousICT initiatives:</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/Energy-EfficientTechnologies.svg" width="40" alt="Energy-Efficient Technologies">
                                            <p class="h3 pt-2">Energy-Efficient Technologies</p>
                                            <p class="text-left">Innovation in sustainability showcased either through green technologies (including energy-efficient technologies) Impact/outcomes in terms of environmental impact of the ICT project/system/infrastructure This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/GreenDataCenters.svg" width="40" alt="Green Data Centers">
                                            <p class="h3 pt-2">Green Data Centers</p>
                                            <p class="text-left">Showcasing the sustainability achievement brought by the ICT project/system/infrastructure (including green data centres) Impact/outcomes in terms of environmental impact of the ICT project/system/infrastructure This nomination is for individuals or organisations</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me  End Here -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/8.png" alt="Sustainable ICT">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 8 ends here -->

<!-- Category 9 starts here -->
<div class="mt-1">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/9.png" alt="The TISPA Awards for Best Internet Connectivity Provider">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">09. The TISPA Awards for Best Internet Connectivity Provider</h1>
                    <p>This category recognizes top-performing connectivity service providers with subcategories for:</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/InternetServiceProvider.svg" width="40" alt="Internet Service Provider">
                                            <p class="h3 pt-2">Best ISP (Internet Service Provider)</p>
                                            <p class="text-left">This subcategory showcases the impact of ISPs in increasing access and penetration of internet in the country. It recognizes the transformations, changes, and innovations that ISPs have implemented to boost internet penetration. This nomination is for organisations only.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/MobileNetworkOperator.svg" width="40" alt="Mobile Network Operator">
                                            <p class="h3 pt-2">Best MNO (Mobile Network Operator)</p>
                                            <p class="text-left">This subcategpry recognizes the transformations, changes, and innovations implemented by telecom companies to boost internet penetration. This nomination is for telecommunication companies only.</p>
                                        </div>
                                    </div>  
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/BestCarrierProvider.svg" width="40" alt="Best Carrier Provider">
                                            <p class="h3 pt-2">Best Carrier Provider</p>
                                            <p class="text-left">This subcategory showcases the impact of carrier provider companies in increasing access and penetration of internet in the country. It recognizes the transformations, changes, and innovations that carriers have implemented to boost internet penetration. This nomination is for internet carrier companies only.</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 9 ends here -->

<!-- Category 10 starts here -->
<div class="gray-category-area mt-1 ps-5">
    <div class="categories-margin">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <div class="about-content pt-5">
                    <h1 class="display-1 fst-italic" style="color: #1375bc;">10. The MCIT Lifetime Achievement In ICT</h1>
                    <p>For 2025, the Lifetime Achievement in ICT Award will honor two distinguished individuals:</p>
                    <div class="about-content-list row">
                        <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Award Sub Categories</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me Area Start Here -->
                        <div class="contact-me-area">
                            <div class="container">
                                <div class="row call-info">                         
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/PublicSector.svg" width="40" alt="Public Sector">
                                            <p class="h3 pt-2">Public Sector</p>
                                            <p class="text-left">Recognizing a leader who has driven impactful ICT initiatives within government institutions, advancing public service delivery and digital transformation. This nomination is for individuals only</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-md-30">
                                        <div class="contact-box">
                                            <img class="filter-white" src="images/categories/PrivateSector.svg" width="40" alt="Private Sector">
                                            <p class="h3 pt-2">Private Sector</p>
                                            <p class="text-left">Celebrating a trailblazer from the private sector who has championed ICT innovations that address social challenges and contributed to Tanzania's economic growth. This nomination is for individuals only</p>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <!-- Contact Me  End Here -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="about-featured-image">
                    <img src="images/categories/10.png" alt="The MCIT Lifetime Achievement In ICT">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category 10 ends here -->