<title>Tehama Awards | <%= title %> </title> 

<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header-page-title text-center">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header section end here --> 

<!-- Contact Us page Start Here -->
<div class="contact-us-page-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="contact-us-page">
                    <h2>Contact Information</h2>
                    <p>Leave us a message below and we will get back to you as soon as possible.</p>
                </div>
            </div>
        </div>

        <div class="row contact-box">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="single-contact-box">
                    <ul>
                        <h4>Physical Address</h4>
                        <li><span><i class="fa fa-map-marker"></i></span> 27 Ali Hassan Mwinyi Road, Nkomo Street.<br> <span>P.O Box 7047911470 DAR ES SALAAM.</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="single-contact-box">
                    <ul>
                        <h4>Phone number & Email Address</h4>
                        <li><span><i class="fa fa-phone"></i></span><a href="tel:+985-2356-14566"> +255 759 993 969</a></li>
                        <li><span><i class="fa fa-whatsapp"></i></span><a href="https://wa.me/255759993969" target="_blank">Whatsapp</a></li>
                        <li><span><i class="fa fa-envelope-o"></i></span><a href="mailto:info@tehamaawards.co.tz">info@tehamaawards.co.tz</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="single-contact-box">
                    <ul>
                        <h4>Follow Us on Social Media</h4>
                        <li><span><i class="fa fa-instagram"></i></span><a href="https://www.instagram.com/tehamaawards" target="_blank"> Instagram</a></li>
                        <li><span><i class="fa fa-facebook"></i></span><a href="https://www.facebook.com/people/TehamaAwards/61563554183681/?mibextid=qi2Omg&rdid=srO49I4nsE7JC0zW&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FBE53NaMU6MbHDoFv%2F%3Fmibextid%3Dqi2Omg" target="_blank"> Facebook</a></li>
                        <li><span><i class="fa fa-twitter"></i></span><a href="https://x.com/TehamaAwards?s=09" target="_blank"> Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="contact-section">
            <div class="leave-comments-area">
                <h4>Contact Us</h4>
                <div id="form-messages"></div>
                <form id="contact-form" method="post" action="https://rstheme.com/products/html/shooter/shooter-html/mailer.php">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Name*" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group"> 
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Email*" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="phone" id="phone" type="text" class="form-control" placeholder="Phone*" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group"> 
                                    <input name="subject" id="subject" type="text" class="form-control" placeholder="Subject*" required="">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea name="comment" id="comment" cols="40" rows="10" class="textarea form-control" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn-send" name="Submit" type="submit">Send Message <i class="fa fa-angle-right"></i> </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact Us page end Here -->