<!-- title tag -->
<title>Tehama Awards | <%= title %> </title>

<!-- Slider Area Start Here-->
<%- include("../partials/slider") %>
<!-- Slider Area End Here-->

<!-- Organizers Area Start Here -->
<%- include("../partials/organizers") %>
<!-- Organizers Area End Here -->