<title>Tehama Awards | <%= title %> </title>
<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header-page-title text-center">
                    <h2>Nomination</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<% if (message == "success")  { %>
<div class="container">
    <div class="alert alert-success alert-white rounded">
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        <strong>Success!</strong> 
        Your nomination has been submitted successfully!
    </div>
</div>
<% } %>

<% if (message == "error")  { %>
<div class="container">
    <div class="alert alert-danger alert-white rounded">
        <div class="icon">
            <i class="fa fa-times-circle"></i>
        </div>
        <strong>Error!</strong> 
        Something went wrong. Please try again!
    </div>  
</div>
<% } %>
<!-- Multistep Form Start Here -->
<div class="multistep-form pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <!--Submissionform  start here-->
                <%- include("../partials/nomination_form") %>
                <!--Submission form end here -->

            </div>
        </div>
    </div>
</div>
<!-- Multistep Form End Here -->
