<title>Tehama Awards | <%= title %> </title>
<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header-page-title text-center">
                    <h2>Selection</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->

<!-- Home About Start Here -->
<div class="pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInRight" data-wow-delay="0.1s">
                <p style="font-size: medium;">The selection committee for the TEHAMA Awards 2025 plays a critical role in ensuring that the evaluation process is fair, thorough, and reflective of the highest standards in the ICT sector. This esteemed committee comprises experts and leaders from various key sectors, bringing diverse perspectives and expertise to the table. There will be a TEHAMA Awards nomination that will be carefully selected from the private and public sectors and endorsed by the Government. The selection process will be guided by the below criteria.</p>
                <div class="text-center mt-5">
                    <img src="/images/selection.png" alt="TEHAMA Selection committee">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-about-area">
    <div class="container">
        <div class="row">
            <div class="mt-5 col-lg-12 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="text-center">
                    <div class="about-content">
                        <h3>Composition of <span>the committee</span></h3>
                        <p>The committee for the TEHAMA Awards 2025 will comprise of</p>
                        <img src="/images/committee.png" alt="TEHAMA Selection committee">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/actions") %>

<!-- Home About End Here -->
