<title>Tehama Awards | <%= title %> </title>
<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header-page-title text-center">
                    <h2>Sign Up.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->

<!-- SignUp form start Here -->
<div class="loginregistration-area pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="registration-area">
                    <h2>Sign Up.</h2>

                    <!--Sign up form start here-->
                    <%- include("../partials/signup_form") %>
                    <!--Sign up form end here -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- SignUp form End Here -->
