<title>Tehama Awards | <%= title %> </title>
<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header-page-title text-center">
                    <h2>Sponsorship and Participation</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->

<!-- Pricing Start Here -->
<div class="container">
    <div class="tab-content wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; animation-name: fadeInRight;">
        <div role="tabpanel" class="tab-pane fade show active">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title mt-5">
                        <h2>Sponsorship <span> packages</span></h2>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center">
                        <div class="price-top">
                            <h4>Gold Sponsorship</h4>
                            <h2 class="mb-0"><sup>TZS</sup>50,000,000</h2>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">Free tickets for the TEHAMA AWARDS Gala Dinner</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">Your advertising video playing during breaks at the TEHAMA Awards</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">Premium booth located at the venue entrance for product/service showcase</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span>1 minutes documentary video featuring your company to be played at both events</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span>Deducated banner on the entrance of the venue</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span>Naming and customization of a TEHAMA Award, to be presented by your company</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center popular">
                        <div class="price-top">
                            <h4>Silver Sponsorship</h4>
                            <h2 class="mb-0"><sup>TZS</sup>30,000,000</h2>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">Branding on the TEHAMA Website</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">5 free tickets to the TEHAMA AWARDS Gala Dinne</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">Your advertising video playing during breaks</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span>Branding on venue</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span>Booth near the entrance to showcase product / services (location not at the entrance)</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span>1 minutes documentary video</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span>Naming and customization of a TEHAMA Award, to be presented by your company</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center">
                        <div class="price-top">
                            <h4>Bronze Sponsorship</h4>
                            <h2 class="mb-0"><sup>TZS</sup>15,000,000</h2>
                            <span class="text-capitalize">per year</span>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">Branding on the TEHAMA Website</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">2 free tickets to the TEHAMA AWARDS Gala Dinner</span>
                                </li>
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">Your advertising video playing during breaks at both events</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title mt-5">
                        <h2>Ticket <span> Pricing</span></h2>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center">
                        <div class="price-top">
                            <h4>Coporate Package</h4>
                            <h2 class="mb-0"><sup>TZS</sup>4,000,000</h2>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">Includes 5 tickets for the TEHAMA Awards Gala and branding on the VIP table</span>
                                </li>
                            </ul>
                            <a href="https://softventures.tukiio.com/event/tehamaawards25" target="_blank" class="btn btn-custom2">Get your ticket <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center popular">
                        <div class="price-top">
                            <h4>VIP Package</h4>
                            <h2 class="mb-0"><sup>TZS</sup>250,000</h2>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">VIP seating at the Gala Dinner with dinner and drinks.</span>
                                </li>
                            </ul>
                            <a href="https://softventures.tukiio.com/event/tehamaawards25" target="_blank" class="btn btn-custom btn-light">Get your ticket <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="price-item text-center">
                        <div class="price-top">
                            <h4>Individual Package</h4>
                            <h2 class="mb-0"><sup>TZS</sup>100,000</h2>
                        </div>
                        <div class="price-content">
                            <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                <li>
                                    <i class="fa fa-check mr-2"></i>
                                    <span class="c-black">Standard seating at the Gala Dinner with dinner and drinks.</span>
                                </li>
                            </ul>
                            <a href="https://softventures.tukiio.com/event/tehamaawards25" target="_blank" class="btn btn-custom2">Get your ticket <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing End Here -->
